<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= html.title %></title>

<% if (html.description) { %>
	<meta name="description" content="<%= html.description %>">
<% } %>

</head>
<body>
	<noscript>We're sorry but <%= html.title %> doesn't work without JavaScript enabled. Please enable it to continue.</noscript>
	<div id="app"></div>
</body>
</html>
